body {
    background:#FFFFF0;
    font-family:Arial, Helvetica, sans-serif;
}
.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:10%;
    padding:10px;
    margin:30px;
    padding:10px 10px;
    background-color: #DB7093;
    border-radius: 30px;
}
.assignment img {
    width:400px;
    margin: 10px;
    border:6px dashed #800080;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:6px solid black;
}
h1 {
    color: darkorchid;
    text-align:center;
}
h2 {
    text-align:center;
}

a {
    text-decoration:none; 
    color:#DDA0DD;
}

a:hover {
    color:black;
}
